*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body {
    background: white;
    font-family: 'Titillium Web', sans-serif;font-family: Arial, Helvetica, sans-serif;
}

h1{
font-size: 66px; font-weight: 600; line-height: 80px;
}

h2{
font-size: 600px; font-weight: 600; line-height: 80px;
font-family: 'Titillium Web', sans-serif;font-family: Arial, Helvetica, sans-serif;
color: black;
}

p{
font-size: 18px; font-weight: 600; line-height: 80px;
line-height: 1.8;
color: #777777;
margin-bottom: 0px;
font-family: 'Titillium Web', sans-serif;font-family: Arial, Helvetica, sans-serif;
}

.blue{
    transition: all 5s ease;
    opacity: 80%;
}

.navbar-collapse{
    background-color: transparent;
}

.banner{
    width: 100%;
    padding: 9rem 3rem;
    text-align: center;
    background-image: url(images/fondoazul.jpg);
    background-color: rgba(0,0,0,.0);
    background-size: cover;
    background-blend-mode: soft-light;
    background-position: center;
    box-sizing: border-box;
    line-height: 5px;
}

.banner h1{
    color: white;
    }
    .banner p{
        color: white;
    }

#porqueelegirnos{
margin-top: 10px;

}

img{
height: 60px;
width: 60px;
}

.clearfix{
    clear: both;
}

.content-center{
    height: 500px;
    padding-top:200px;
    padding-bottom:20px;
    text-align: center;
    margin: auto;   
}

.porqueelegirnos{
    padding: 50px;  
}

.row{
    padding-top: 20px;
    padding-bottom: 20px;
}


h4{
    font-size: 18px;
    color: white;
}

.row{
    padding: 20px;
    margin: 20px;
}

.card1{
    background-image: url(images/felicidad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card2{
    background-image: url(images/felicidad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card-body{
    box-shadow: 20px 20px 20px aqua;
   
}


}

.list-group {
    padding: 60px;
    color: #444444;

}

#servicios{
    padding-bottom: 30px;
}

.aside{
    background-color: blue;
    padding: 0px;
}

#footer{
    padding: 0px;
    font-size:15px;
    margin-top: 20px;
    text-align: center;
    background: #333333;
    height: 170px;
    line-height: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer a{
    font-size: 30px;
    color: gray;
}

h5{
    font-size: 15px;
    color:#777777;
}

#derechos{
    padding-bottom: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: honeydew;
}